.note{
	background-color: #36332A;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	
	text-align: justify;
	border-radius: 6px;
}

.welcome{
	font-size: 1em;
}
.noteTitle{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 1.3em;
	background-color: #555145;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #555145;
	font-weight: bold;
}

.noteText{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 2px solid #555145;
	border-right: 2px solid #555145;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.noteButtons{
	float:right;
}

.noteDateTime{
	display: none;
}

.logout{
	float: right;
}

.addNote{
	width: 100%;
	text-align: center;
	background-color: #555145;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	border-radius: 3px;
}